*{
    box-sizing: border-box;
    font-family:cursive;
}
h1{
    text-align: center;
    font-size:275%;
    
}


section{
  
    background-color:grey;
    border: 2px solid black;
    margin: 10px;
    float: left;
    position: relative;
    
} p{
    padding: 10px;
    margin: 10px;
    margin-top: 25px;
   
}
span{
    position: absolute;
    width: 100px;
    border: 2px solid black;
    top: 0px;
    right: 0px;
    font-size: 125%;
    
    text-align: center;
    
}
#id1{
    background-color: palevioletred;
}
#id2{
    background-color:green;
}
#id3{
    background-color:crimson;
}

.row{
    width:100%;
}
@media(min-width: 992px){


    .col-lg-4{
        float: left;
        width: 33.33%    }

}

@media(min-width: 768px) and (max-width: 991px) {
  .col-md-6{
      width: 50%;
      float: left;
  }
  .row .col-md-6:nth-child(3){
      width: 100%;
      float: left;
  }
}

@media(max-width: 767px){
    .col-sm-12{
        width: 100%;
        float: left;
    }

}