body{
    background-color: aqua;
    font-size: 140%;

}
h1{
    font-size:80px;
    text-align: center;
    color:crimson;
    background-color:black;
    border: 10px solid green;
}
h1:hover{
    cursor: pointer;
}

section li ,div li {
  
  list-style: none;
  
}

a:link, a:visited {
     
    background-color:crimson;
    display:block;
    color:aqua;
    text-decoration: none;
    opacity: 0.8;
    text-align: center;
    width: 400px;
    border:4px solid black;
}

a:hover, a:active {
    background-color:black;
    color:green;

}

section li:nth-child(3){
    
    font-style: italic;
    font-size: 40px;
    

}

div li:nth-child(odd):hover{
    font-size: 40px;
    background-color:orangered;
    color:darkblue;
    margin-bottom: 3px;
    cursor: pointer;


}